# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Include ignore files from the .terraformignore file, if it exists
.terraformignore
.terraform.lock.*
*.zip

# set variable files
*.tfvars